__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Private key files
*.pem

# Terraform state files
*.tfstate
*.tfstate.*
*.tfvars

# Local Terraform directories
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Terraform variable files
*.tfvars
*.tfvars.json

