<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Age calculator</title>
</head>
<body>
    <h1>Welcome to Age Calculator</h1>
    <p>The current time is: {{ current_time }}</p>

    <form action="{{ url_for('calculate_age') }}" method="POST">
        <label for="birthdate">Enter your birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required>
        <button type="submit">Calculate Age</button>
    </form>

    {% if age is not none %}
        <p>Your age is: {{ age }}</p>
    {% endif %}

    {% if birthdate is not none %}
        <p>Your birthdate is: {{ birthdate }}</p>
    {% endif %}
</body>
</html>

